{% extends 'consola/base.html' %}

{% block contenido %}
    <h1>Lista de Consolas</h1>
    <form method="get" action="" style="margin-bottom: 20px;">
        <input type="text" name="q" placeholder="Buscar consola..." value="{{ search_query | default:'' }}">
        <button type="submit" class="btn-primary">Buscar</button>
        <a href="{% url 'consola:consola_list' %}" class="btn-secondary">Limpiar</a>
    </form>
    <ul class="styled-list">
        {% for consola in consolas %}
            <li>
                <span>{{ consola.nombre }}</span>
                <div class="actions">
                    <a href="{% url 'consola:consola_edit' consola.pk %}"><button class="btn-secondary">Editar</button></a>
                    <a href="{% url 'consola:consola_delete' consola.pk %}"><button class="btn-danger">Eliminar</button></a>
                </div>
            </li>
        {% empty %}
            <li>No se encontraron consolas que coincidan con tu búsqueda.</li>
        {% endfor %}
    </ul>
{% endblock contenido %}
