{% extends 'consola/base.html' %}

{% block contenido %}
    <h1>Lista de Consolas</h1>
    <a href="{% url 'consola:consola_create' %}"><button class="btn-primary">Crear Consola</button></a>
    <ul class="styled-list">
        {% for consola in consolas %}
            <li>
                <span>{{ consola.nombre }}</span>
                <div class="actions">
                    <a href="{% url 'consola:consola_edit' consola.pk %}"><button class="btn-secondary">Editar</button></a>
                    <a href="{% url 'consola:consola_delete' consola.pk %}"><button class="btn-danger">Eliminar</button></a>
                </div>
            </li>
        {% endfor %}
    </ul>
{% endblock contenido %}