{% extends 'consola/base.html' %}

{% block contenido %}
    <h1>Lista de Juegos</h1>
    <a href="{% url 'consola:juego_create' %}"><button>Crear Juego</button></a>
    <ul>
        {% for juego in juegos %}
            <p>{{ juego.consola }} | {{ juego.nombre_juego }} | {{ juego.fecha_inicio }}</p>
            <a href="{% url 'consola:juego_edit' juego.pk %}">Editar</a>
            <a href="{% url 'consola:juego_delete' juego.pk %}">Eliminar</a>
        {% endfor %}
    </ul>
    
{% endblock contenido %}